
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  
}
.nav-section{
   max-width: 1440px;
  align-items: center;
  margin: 0 auto;
}

.display-flex{
  display: flex;
  justify-content: space-evenly;
}
.list-item{
  list-style: none;

}
.list-link{
  text-decoration: none;

}
.list-main{
  gap: 30px;
}
.btn-pri{
  width: 197px;
  height: 50px;
  background-color: #FEA301;
  color: white;
  border: none;
  border-radius: 12px;
  
  
}
.clr-1{
  color:#FEA301 ;
}
.clr-2{
  color: #01ACFD;
}
.clr-3{
  color: #05D4DF;
}
.clr-4{
  color: #5D58EF;
}
.h4{
  font-weight: 700;
  font-size: 56px;
}
.btn-2{
  background-color: black;
  color: white;
  width: 197px;
  height: 50px;
  border: none;
  border-radius: 12px;
}
.banner{
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}
.banner-content{
  margin-right: 45px;
  
}
.h4, .p-nav, .btn-2{
margin: 24px;
}
.h3-1{
  text-align: center;
  margin: 80px 0;
  font-weight: 700;
  font-size: 46px;

}
.box-01{
  gap: 80;
  margin-right: 28px;
}
.box-main{
  gap: 80;
  margin-right: 28px;
}
.box-001{
  background-image: url(assets/bg.png);
  background-position: 100%;
}
.box-1{
  box-sizing: border-box;
border: 1px solid rgb(222, 245, 255);
border-radius: 18px;

box-shadow: inset 0px 0px 28px 1px rgba(0, 0, 0, 0.05);
background: linear-gradient(180deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
 width: 350px;
 height: 460px;

 justify-items: center;
 align-content: center;
 margin-right: 20px;
}
.p-1{
  color: rgba(128, 128, 128, 1);
}
.a-1{
  color: rgba(100, 200, 255, 1);
}
.box-2{
  box-sizing: border-box;
  border: 1px solid rgb(255, 244, 220);
  border-radius: 18px;
  
  box-shadow: inset 0px 0px 28px 1px rgba(0, 0, 0, 0.05);
  background: linear-gradient(180deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
  width: 350px;
  height: 460px;
  justify-items: center;
 align-content: center;
  margin-right: 20px;
}
.p-2{
  color:  rgba(128, 128, 128, 1);
}
.a-2{
  color:rgb(240, 170, 0);
  text-decoration: none;
}
.box-3{
  box-sizing: border-box;
border: 1px solid rgb(242, 232, 255);
border-radius: 18px;

box-shadow: inset 0px 0px 28px 1px rgba(0, 0, 0, 0.05);
background: linear-gradient(180deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
width: 350px;
 height: 460px;

 justify-items: center;
 align-content: center;
}
.p-3{
  color:  rgba(128, 128, 128, 1); 
}
.a-3{
  color:rgb(135, 0, 255);
  text-decoration: none;
}
.box-main{
  display: flex;
  justify-content: center;
  align-items: center;
}